<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/health_styles.css" type="text/css" />
    	<title>Health App</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/healthApp.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>





    




