<form class="create-form">
    <h2>Member:</h2>
    First Name: <br>
    <input type="text" id="firstname" name="firstname" placeholder="First Name"><br>
    Last name:<br>
    <input type="text" id="lastname" name="lastname" placeholder="Last Name"><br>
</form>